[2020-09-06 06:32] MrUnfunny opened #2 "Disable Screenshots inside FolioReader"
Hi @JideGuru,
I wanted to disable the screenshot inside FolioReader but both flutter_windowmanager as well as adding code to the native side don't seem to work. They disable screenshot inside the app but don't have any effect on folioReader. Is there any way to include this functionality?

[2020-09-06 09:44] JideGuru commented on #2
You might have to edit the plugin's code for this

[2020-09-07 23:23] luis-cruzt opened #4 "Unable to determine Swift version on iOS"
I'm getting the following error when doing pod install:

[code]

[2020-09-07 23:25] JideGuru commented on #4
What version of the plugin are you using?

[2020-09-07 23:26] luis-cruzt commented on #4
I'm using the latest version.

`epub_viewer: ^0.0.7`

[2020-09-07 23:31] JideGuru commented on #4
Are you using swift with your project? the ios section.

[2020-09-07 23:41] JideGuru commented on #4
This happens to most Flutter plugins.
Follow this comment to fix this issue
https://github.com/esysberlin/esys-flutter-share/issues/24#issuecomment-527611976

[2020-09-07 23:42] luis-cruzt commented on #4
So to run this plugin swift is required, right?

[2020-09-07 23:43] JideGuru commented on #4
Yes. swift is required

[2020-09-07 23:45] luis-cruzt commented on #4
The readme should contain that swift is required to run this plugin and also set the minimum deployment target to 10.0

[2020-09-07 23:46] JideGuru commented on #4
You're right and the minimum deployment target is 9.0.
Thanks for pointing that out

[2020-09-07 23:49] JideGuru commented on #4
I'll be closing this issue now

[2020-09-07 23:49] #4 closed

[2020-09-08 02:35] luis-cruzt opened #5 "Load epub from assets"
This plugin allows loading epub files from the Flutter assets folder?

I'm getting a book not found error.

[2020-09-08 02:40] JideGuru commented on #5
No support for assets yet. I'm actively working on that

[2020-09-08 12:19] kuntadynithesh opened #6 "Show Total page count and No of Pages left"
Is there any chance you can add this feature ? .  Folio reader lacks this . This will be handy !

[2020-09-08 12:32] JideGuru commented on #6
This is available. check the screenshot i attached
![IMG_4878](https://user-images.githubusercontent.com/24323581/92476971-b549d980-f1d7-11ea-8076-8b40911cac49.PNG)

[2020-09-08 13:08] #2 closed

[2020-09-08 13:36] MrUnfunny opened #7 "set Scroll Direction as both vertical and horizontal"
Hi @JideGuru, currently EpubScrollDirection only has options to set scroll direction as either vertical or Horizontal. I'm not getting the option to switch between the two inside folioReader. Can you please guide me on how to implement this switching feature?

![WhatsApp Image 2020-09-08 at 7 03 58 PM](https://user-images.githubusercontent.com/43833743/92483311-4fc11180-f206-11ea-8c84-37c94083af55

[2020-09-08 13:37] JideGuru commented on #7
Hey, @MrUnfunny  I can implement this in for you in about an hour as I'm still actively working on the plugin.
Thanks

[2020-09-08 13:39] MrUnfunny commented on #7
@JideGuru That's very cool. I'll be waiting.

[2020-09-08 14:22] kuntadynithesh commented on #6
I am not able to figure out how . Can you please let me know how to implement it or property to be set ?

[2020-09-08 14:48] JideGuru commented on #7
I pushed another version that included `EpubScrollDirection.ALLDIRECTIONS`

[code]

[2020-09-08 14:50] JideGuru commented on #6
It's only available on iOS for now. If you run your app on iOS it should display out of the box. Make sure you're using the latest plugin version

[2020-09-08 15:23] MrUnfunny commented on #7
This works perfectly fine, Thanks

[2020-09-08 15:23] #7 closed

[2020-09-08 16:28] kuntadynithesh opened #8 "Show Sample reading!"
Is there any option to restrict only 20 % of epub to be shown for sample reading feature just like google play books have it ?

[2020-09-09 10:34] adrian007n opened #9 "Compile issue on Android version"
I've created a new project and just added "epub_viewer: ^0.1.3" to pubspec.yaml
And run "pub get"

After that, when I try to run from android simulator, it failed to build.
Here is the issues

==========================
/Users/superflutter/Documents/TestProjects/flutter_epub_test/android/app/src/debug/AndroidManifest.xml Error:
	uses-sdk:minSdkVersion 16 cannot be smaller than version 21 declared

[2020-09-09 10:48] JideGuru commented on #9
Increase the minSdk in your gradle file to 21 instead of 16.

[2020-09-09 11:10] JideGuru commented on #9
<img width="615" alt="Screenshot 2020-09-09 at 12 09 25" src="https://user-images.githubusercontent.com/24323581/92591222-63678900-f295-11ea-9f1d-d2b39792cc1c.png">

[code]

[2020-09-09 12:13] adrian007n commented on #9
Hi @JideGuru
Thanks for your nice suggestion.
I've tried to update minSdkVersion 21.
But I'm getting other issue...  (should I have change settings.gradle?)
Hope you to help me.

=========================
Launching lib/main.dart on sdk gphone x86 in debug mode...
Running Gradle task 'assembleDebug'...

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:pro

[2020-09-09 13:14] adrian007n commented on #9
Hi @JideGuru
I this the problem is gradle version is not matched.
Could you please update your gradle version in https://github.com/JideGuru/epub_viewer/blob/master/android/build.gradle
Now, latest version is 4.0.1

[2020-09-09 13:15] adrian007n commented on #9
When I downgrade the version to 3.3.1, it works on android emulator.

[2020-09-09 13:29] JideGuru commented on #9
Yes @adrian007n its the gradle
I'll work on that

[2020-09-09 13:32] adrian007n commented on #9
Great! thanks!  👍

[2020-09-09 14:27] kuntadynithesh commented on #6
Is there any chance that you will make it work on android version too ?

[2020-09-09 14:55] JideGuru commented on #6
Yes I'll work on it soon

[2020-09-09 15:00] JideGuru commented on #8
No option like this yet. I'll consider working on it in the future

[2020-09-10 01:55] kuntadynithesh commented on #6
Thanks will appreciate that

[2020-09-10 07:28] kuntadynithesh opened #10 "Custom Fonts"
Can we add custom fonts ? . I want to add different Unicode fonts for "Kannada" language . If yes what should be the extensions of font file ?

[2020-09-11 11:13] lateef4web opened #11 "Support for epub v3."
I observed that the epub reader doesnot open epub v3( Like alice in wonderland). Everything is blank and the app crash atimes. Please help.

[2020-09-11 11:28] JideGuru commented on #11
Thanks for reporting this.
Did you stumble upon this on Android or iOS? And where there any crash logs?

[2020-09-11 18:49] JideGuru commented on #6
@kuntadynithesh  i published a new version(0.1.4) that shows the page indicator on android but it doesn't seem to show on all devices. I'll be working on fixing that and I'll get back to you when all is fixed
![screenshot-1599848596697](https://user-images.githubusercontent.com/24323581/92961849-e4767a00-f467-11ea-8203-d972a6833456.jpg)

[2020-09-11 18:55] JideGuru commented on #9
@adrian007n I pushed a new version with updated Gradle.

[2020-09-11 18:55] #9 closed

[2020-09-11 18:59] JideGuru commented on #10
This feature is not available and i don't think I'll be working on that anytime soon.
I recently added a lot of fonts to the plugin. You might want to work with that

[2020-09-11 19:01] #10 closed

[2020-09-11 19:52] JideGuru commented on #6
@kuntadynithesh Finally perfected the features in `0.1.6`. Update the plugin to the latest version and you'll get the feature!

[2020-09-11 19:52] #6 closed

[2020-09-11 23:03] lateef4web commented on #11
Sorry for the late response. On Android platform.

[2020-09-12 01:06] JideGuru commented on #5
@luis-cruzt I've included a load from asset feature from `0.1.7`. You can now load EPUBs from your assets folder

[2020-09-12 01:06] #5 closed

[2020-09-12 01:14] JideGuru commented on #11
when you say it does not support epub v3, what do you mean? can you share a screenshot or an error log?

[2020-09-12 02:00] luis-cruzt commented on #5
Wow thanks, I'll take a look to that! Thank you

[2020-09-12 03:22] kuntadynithesh commented on #6
Awesome . Thanks mate !

[2020-09-12 08:21] MrUnfunny opened #18 "Pages left feature not working in Horizontal Scroll"
Hi @JideGuru
The page viewer shows the remaining pages for the current chapter of the epub, and not the complete epub itself and it doesn't work in Horizontal scroll at all. In horizontal scroll, it sticks at 1 page left.
I have tested these on android only.

[2020-09-12 11:48] JideGuru commented on #18
@MrUnfunny i just noticed this too. I'll work on fixing it ASAP

[2020-09-12 13:57] nishantjoshee opened #19 "Reading file from assets."
How do I read and show epub file from assets?
Like: assets/myfile.epub in my project. Could you show a sample code just for that? I don't need other features such as download. I just need to read file from my project's asset folder.

[2020-09-12 13:59] nishantjoshee commented on #11
could you please show me your code that runs successfully for epub v2? I am getting trouble for using this plugin.

[2020-09-12 14:00] JideGuru commented on #19
As shown in this repo's readme, you can read from your assets using `EpubViewer.openAsset()` like this

[code]

replace the `assets/3.epub` with your asset's path

[2020-09-12 14:02] JideGuru commented on #11
@nishantjoshee if you're getting an error then you should open an issue ticket explain the error that you got!

[2020-09-12 16:01] nishantjoshee commented on #19
Thank you so much.

[2020-09-12 18:25] #19 closed

[2020-09-15 05:12] nishantjoshee opened #20 "View file from remote"
how do i load and view epub file from remote? like from firebase?

[2020-09-15 09:58] JideGuru commented on #20
You need to download the file to your local storage before viewing it

[2020-09-15 16:34] #20 closed

[2020-09-15 19:12] Zehr0 commented on #18
please also work on this for iOS.
plus horizontal reading on iOS skips to the next chapter on each swipe.

[2020-09-15 20:05] Zehr0 opened #21 "typing notes on reading"
Issue / Feature - When typing notes, UI scrolls the end on iOS, this is tolearble on iPhone but on iPad it cuts the view.
Platform (android, iOS or both) - tested only on iOS for now.

Steps to reproduce / Describe in detail -

[2020-09-17 06:39] dineshpote26 opened #22 "How to add button for epub"

[2020-09-17 06:55] JideGuru commented on #22
What do you mean by "button"?

[2020-09-17 07:02] dineshpote26 commented on #22
Sorry my bad I want back navigation from the epub view so that the user will be redirected to my app

[2020-09-17 09:12] dineshpote26 opened #23 "app crashing in relase mode"
App Crashing in release mode showing the following error

n.a.a.e: Subscriber class com.folioreader.q.c.b and its super classes have no public methods with the @Subscribe annotation

any idea what is this?

[2020-09-17 10:27] JideGuru commented on #23
Hi, Thanks for reporting this issue.
I'll look into it and fix it as soon as I'm available

[2020-09-17 10:28] JideGuru commented on #22
The back button is available on iOS but not on android yet.

[2020-09-17 10:29] JideGuru commented on #21
Can you share a screenshot of this issue on the iPad?

[2020-09-18 06:07] Zehr0 commented on #21
When I highlight a word and click notes, the following scrnsht comes up.
<img width="523" alt="Screenshot 2020-09-18 at 07 03 20" src="https://user-images.githubusercontent.com/38166362/93562073-3a25b780-f97d-11ea-8837-dfc6ae5bb1ff.png">

When I start typing, the view goes up out of view like this
<img width="527" alt="Screenshot 2020-09-18 at 07 03 37" src="https://user-images.githubusercontent.c

[2020-09-21 05:53] dineshpote26 commented on #23
@JideGuru Any update or workaround on this?

[2020-09-21 08:14] JideGuru commented on #23
@dineshpote26 i'm still working on it. I'll release a new version of the plugin soon. I've been a bit busy

[2020-09-22 10:55] shivamkejriwal9 opened #25 "FolioReaderKit for IOS uses UIWebView which has been deprecated"
**Issue**  - epub_viewer uses FolioReaderKit for IOS which uses UIWebView which has been deprecated
**Platform** - IOS
**Error** - The app is not being accepted to the app store during review

![Issue Image](https://user-images.githubusercontent.com/58459382/93873920-29b06c80-fcf0-11ea-91b4-b67c43915545.jpeg)

[2020-09-22 12:20] JideGuru commented on #25
Ohh wow.
I'll keep this issue at high priority and get back to you as soon as possible.

[2020-09-26 13:25] Sahmirzali opened #26 "Note: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\epub_viewer-0.1.7\android\src\main\java\com\jideguru\epub_viewer\EpubViewerPlugin.java uses unchecked or unsafe operations. Note: Recompile with -Xlint:unchecked for details."
Issue / Feature -
Platform  - Anroid
Crash / Error -  Note: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\epub_viewer-0.1.7\android\src\main\java\com\jideguru\epub_viewer\EpubViewerPlugin.java uses unchecked or unsafe operations. Note: Recompile with -Xlint:unchecked for details.

**_i running project in release mode.  these is writing in console. can you solve this issue ?_**

Running Gradle

[2020-09-26 13:30] JideGuru commented on #26
That's a warning not an error so you're safe. Does it stop the project from running or working?

[2020-09-26 13:32] Sahmirzali commented on #26
No doesn't stop. But i see now this epub package doesn't have horizontal view.  only have vertical. but epub kitty have both .
can you add also horizontal view please ?

[2020-09-26 13:33] JideGuru commented on #26
There's is horizontal view. EpubDirection.horizontal

[2020-09-26 13:36] Sahmirzali commented on #26
how can i make  both of them ? at the same time( optional ) vertical , horizontal

[2020-09-26 13:38] Sahmirzali commented on #26
Thanks. I have one question more. How can i open epub from asset ? in this example exist from api

[2020-09-26 13:39] Sahmirzali commented on #26
can i add there my own fonts ?

[2020-09-26 13:39] JideGuru commented on #26
It's in the readme of the repo. Please reference it. Thanks

[2020-09-26 13:40] JideGuru commented on #26
No you cannot add your own font at the moment

[2020-09-26 19:27] #26 closed

[2020-09-28 09:56] Sahmirzali opened #27 "language"
**Hello. How can i change epub reader language(english)  to other language?
for example words :  copy, share, vertical, horizontal ?**

   **_i find these in ios file but android don't have? please help :)_**

/*
  Localizable.strings
  Runner

  Created by 小发工作室 on 2019/11/16.
  Copyright © 2019 The Chromium Authors. All rights reserved.
*/
"Highlight" = "高亮";
"Define" = "查询";
"Note" = "笔记";

"Da

[2020-09-28 14:05] JideGuru commented on #27
Use `res/values/strings.xml` to match this

[code]

[2020-09-28 14:05] #27 closed

[2020-09-29 04:39] soleysok opened #28 "Failed to build ios app"
**Issue** - failed to build ios app
**Platform (iOS)**
**Describe in detail** - I am using Xcode 12. I can not build my ios app. Below is the error that I got from Xcode:
<img width="242" alt="Screen Shot 2020-09-29 at 11 37 51 AM" src="https://user-images.githubusercontent.com/45871758/94513177-37ae4200-0248-11eb-9d21-8343bcf3ab3f.png">
Undefined symbols for architecture x86_64:
  "_RLMRealmPathF

[2020-09-29 04:54] soleysok opened #29 "App crash when trying to open the epub file"
**Issue** - App crash when trying to open the epub file
**Platform** - Android

**Describe in detail**
- **Below is my code and the errors**:
EpubViewer.setConfig(
        themeColor: Theme.of(context).primaryColor,
        identifier: "book",
        scrollDirection: EpubScrollDirection.VERTICAL,
        allowSharing: true,
        enableTts: true,
);
 note: it does not crash when I set the confi

[2020-09-29 08:49] JideGuru commented on #28
This issue is caused by the Realm version. I am fixing this issue alongside #25

[2020-09-29 18:12] JideGuru commented on #29
Is this in Release mode, debug mode or both?

[2020-09-29 19:06] pratham-xp opened #30 "Blank screen is shown when epub_viewer initiates."
Issue / Feature - Blank screen is shown when epub_viewer initiates.
Platform (android, iOS or both) -
Crash / Error - The app crashes when the drawer is clicked.

Steps to reproduce / Describe in detail -
<img width="1371" alt="Screenshot 2020-09-30 at 12 35 04 AM" src="https://user-images.githubusercontent.com/59138245/94604198-f1db9300-02b4-11eb-8fd2-094bff767a72.png">

[2020-09-29 22:39] JideGuru commented on #30
what's the value of `bookData.items[i].path`? Is it an asset path?

can you paste the error in your console?

[2020-09-30 01:50] soleysok commented on #29
I have only tested in dev and debug mode

[2020-09-30 07:05] mrifni opened #31 "Folio version"
Hi,

thank you for your efforts on this project. I wanted to know where does this version comes from
`com.jideguru:folioreader:0.6.1`

Do you have an active fork for us to see the code changes.

thank you for the great work.

[2020-09-30 07:11] mrifni opened #32 "Dart based epub reader"
What are the challenges in writing a pure epub reader/viewer using dartlang instead of using a native plugin ?

[2020-09-30 09:03] JideGuru commented on #32
Sorry but this section is for tracking issues that people face with the plugin not discussing this sort of topic.
Thanks.

[2020-09-30 09:03] #32 closed

[2020-09-30 09:06] JideGuru commented on #31
You can view the changes in this repository.
https://github.com/JideGuru/Folioreader-Android

[2020-09-30 09:06] #31 closed

[2020-09-30 09:07] JideGuru commented on #29
Thanks @soleysok
I'm looking into the issue

[2020-09-30 12:56] pratham-xp commented on #30
Yes.
path: assets/eBooks/Subtle Art.epub

[2020-09-30 13:33] JideGuru commented on #30
Please use EpubViewer.openAsset() to view assets not EpubViewer.open()

[2020-09-30 16:12] JideGuru commented on #30
@pratham-xp does that fix the problem for you?

[2020-09-30 17:51] pratham-xp commented on #30
Yeah! Thank you.

[2020-09-30 17:52] #30 closed

[2020-10-01 08:44] soleysok commented on #28
Hi, now I manage to run the ios app just fine when I update my flutter to the beta version and add some config to the xcode, one problem though, the app still crashes when I open a pdf file instead of an epub file. On the other hand, on android both epub and pdf, the app crashes when open it.

[2020-10-01 08:53] JideGuru commented on #28
The plugin does not support pdf. Can you give more insight as to how the crash happened on android?

[2020-10-01 09:12] soleysok commented on #28
I have already created an issue with that(#29 ).

[2020-10-01 10:25] soleysok commented on #28
Hi! Please help update to at least we can view the file but not letting the
app crush like that, thanks!

On Thu, 1 Oct 2020 at 3:53 PM Festus Olusegun <notifications@github.com>
wrote:

[2020-10-01 19:27] Sahmirzali opened #33 "functionalities"
Platform - Both

how can i remove Copy, Share , Define functionalities ?

for example : When i select text only appears colors highlight

[2020-10-01 20:02] JideGuru commented on #29
Is the epub file located in the device or assets?

[2020-10-02 01:04] soleysok commented on #29
In the device.

On Fri, 2 Oct 2020 at 3:02 AM Festus Olusegun <notifications@github.com>
wrote:

[2020-10-02 01:12] soleysok commented on #29
Plus, my problem is to deal with both pdf and epub, do you have any
suggestions for that?

On Fri, 2 Oct 2020 at 8:04 AM Soley Sok <soksoley7@gmail.com> wrote:

[2020-10-02 08:14] JideGuru commented on #29
There is no pdf support

[2020-10-02 09:28] soleysok commented on #29
I see, anw I hope you can release another update soon.

On Fri, Oct 2, 2020 at 3:14 PM Festus Olusegun <notifications@github.com>
wrote:

[2020-10-02 12:00] Sahmirzali commented on #33
**i want to like that** : https://ibb.co/DR5BLJW

[2020-10-02 15:46] JideGuru commented on #29
@soleysok is it possible to share with me the file you used? and the android version?

[2020-10-02 17:33] JideGuru commented on #29
@soleysok I published version 0.1.8 to fix your issue. can your use it and give me feedback?
Thanks

[2020-10-02 19:50] mrifni opened #34 "how to select a default font by default as part of config."

[2020-10-02 19:50] mrifni opened #35 "how to select book viewer light or dark mode by config?"

[2020-10-02 19:54] mrifni opened #36 "locator has the last read location but how to know the read progress ? like how many page is read percentage wise?"

[2020-10-02 19:56] JideGuru commented on #36
No way to do this and I don't think I'll be implementing it anytime soon.
There's a feature that tells the reader the amount of time/pages remaining and I'm working on fixing that feature

[2020-10-02 19:56] #36 closed

[2020-10-02 21:15] mrifni opened #37 "horizontal scrolling doesnt work for ios"
with this config

EpubViewer.setConfig(
          themeColor: Theme.of(context).accentColor,
          identifier: "iosBook",
          scrollDirection: EpubScrollDirection.HORIZONTAL,
          allowSharing: true,
          enableTts: true,
        );

[2020-10-03 02:37] soleysok commented on #29
yes thank you very much, it doesn't crash anymore, but all the functionalities are disappeared. Anyway, I am very thankful.
*Note: the android simulator devices that I use are:
    -Pixel 3 API 29(Android 10)
    -8 Foldable API 30(Android 11)
    -Nexus 5X API 24(Android 7)

[2020-10-03 03:32] #29 closed

[2020-10-03 03:37] soleysok commented on #28
HI! any updates on this issue yet? As for the new updated version that I have tested on ios, this issue still appears when I run the build using Xcode or run vscode. My solution was to run flutter clean than go to Xcode clean build after that run "flutter build ios" and go to Xcode again and run build. (I don't know how or why it works but sometimes it works sometime it doesn't and sometimes I nee

[2020-10-03 11:21] JideGuru commented on #28
I'm almost done with the fixes. i should publish a new version soon

[2020-10-03 11:23] JideGuru commented on #29
@soleysok what do you mean by the functionality disappeared? can you share a screenshot?
and also you said you're using Emulators but the android emulator doesn't support running release mode.

[2020-10-03 12:54] pratham-xp opened #38 "Could you add a function to scroll to next page based on certain condition?"
Issue / Feature -
Platform (android, iOS or both) -
Crash / Error -

Steps to reproduce / Describe in detail -
I am building a speed reading app. When a user opens a book, a dialog asks to enter a target reading speed. According to this speed, the pages turn automatically. Could it in the package?

[2020-10-05 02:16] soleysok commented on #29
hello! sorry, I've been busy. As for the app, I am not yet done with all the feature yet so I haven't test it on release mode. Anyway, below is the screenshot of when I open the epub file.(there should be the setting for adjusting the brightness, font, scroll direction)
<img width="423" alt="Screen Shot 2020-10-05 at 9 11 47 AM" src="https://user-images.githubusercontent.com/45871758/95034304-7716

[2020-10-05 02:19] soleysok commented on #28
thanks man... I am really appreciated!

[2020-10-09 17:34] JideGuru commented on #35
PR #41 and Version 0.1.8+1 includes this.

[code]

Only works for android for now.

[2020-10-09 17:34] #35 closed

[2020-10-13 04:20] kapiltandukar opened #43 "file cannot open on ios"
Issue / Feature -
Platform (android, iOS or both) - ios
Crash / Error -
<img width="769" alt="Screen Shot 2020-10-13 at 10 05 01" src="https://user-images.githubusercontent.com/3233200/95815032-9345f880-0d3b-11eb-80de-a32c720e7e2b.png">

![Simulator Screen Shot - iPhone SE (2nd generation) - 2020-10-13 at 10 02 43](https://user-images.githubusercontent.com/3233200/95814975-71e50c80-0d3b-11eb-9cb3-

[2020-10-13 04:50] kapiltandukar commented on #37
@mrifni is it working on your ios ?

[2020-10-13 04:52] kapiltandukar commented on #23
@dineshpote26 is it working on your ios?

[2020-10-13 05:00] kuntadynithesh commented on #43
Looks like this is a problem with Epub file , not application

[2020-10-13 09:46] kapiltandukar commented on #43
@kuntadynithesh this build is from example epub_viewer and it's work on android. only issue on ios.

[2020-10-13 10:55] JideGuru commented on #43
@kapiltandukar This is an issue from the plugin and I'm working on fixing it

[2020-10-13 16:18] JideGuru commented on #23
@dineshpote26
add this to the release build type in your app build.gradle

[code]
<img width="496" alt="Screenshot 2020-10-13 at 17 17 29" src="https://user-images.githubusercontent.com/24323581/95887620-fa819e00-0d77-11eb-8ebb-f6482b808d6b.png">

[2020-10-14 02:32] kapiltandukar commented on #43
@JideGuru please try to solve this issue as soon as possible. i'm having big trouble right now. hope you will understand it. Thank you.

[2020-10-16 08:46] alexanderpehlivanov opened #44 "Highlighting removal is not working"
Issue / Feature -
Platform (android, iOS or both) -
Crash / Error -

Steps to reproduce / Describe in detail -

[2020-10-16 10:38] JideGuru commented on #44
Care to explain with screenshots what this issue means?

[2020-10-16 11:38] alexanderpehlivanov commented on #44
![Screenshot_1602847822](https://user-images.githubusercontent.com/14877055/96253899-13c75c00-0fbd-11eb-8df2-fb183f3af00a.jpg)

Hi mate,

Thank you for your fast response and sorry for not explaining the problem well enough.

What I mean is that when you highlight the text you can not unhighlight it.

[2020-10-16 11:44] alexanderpehlivanov commented on #44
Mate sorry for taking your time it is working properly my bad.

[2020-10-16 11:44] #44 closed

[2020-10-18 21:11] kehindeegunjobi93 commented on #23
Hello chief. I get an error when I add those lines into it. It says
<img width="266" alt="Capture2" src="https://user-images.githubusercontent.com/16244953/96385905-d74b5a00-118e-11eb-9637-192dd5fbe041.PNG">

Could not find method minifyEnable() for arguments [false] on BuildType_Decorated

[2020-10-18 21:23] JideGuru commented on #23
I made a typo its `minifyEnabled` not `minifyEnable`

[2020-10-19 00:13] JideGuru commented on #23
@dineshpote26 is this issue fixed for you?

[2020-10-19 07:12] dineshpote26 commented on #23
@JideGuru Fixed the issue after adding the following prograd rules.

-keepattributes *Annotation*
-keepclassmembers class ** {
    @org.greenrobot.eventbus.Subscribe <methods>;
}
-keep enum org.greenrobot.eventbus.ThreadMode { *; }
# Only required if you usenter code heree AsyncExecutor
-keepclassmembers class * extends org.greenrobot.eventbus.util.ThrowableFailureEvent {
    <init>(java.lang.Thro

[2020-10-19 07:12] #23 closed

[2020-10-19 07:33] kehindeegunjobi93 commented on #23
Thanks, it worked

[2020-10-19 16:12] mrifni commented on #37
its not working on IOS, i mentioned that in the issue title

[2020-10-23 10:25] JideGuru commented on #25
Hello @shivamkejriwal9
I just published version 0.1.9 which fixes this problem

[2020-10-23 10:25] #25 closed

[2020-10-23 10:26] JideGuru commented on #37
Please update to version 0.1.9

[2020-10-23 10:26] #37 closed

[2020-10-23 10:28] JideGuru commented on #11
Conversations on this issue will be continued in #43

[2020-10-23 10:28] #11 closed

[2020-10-23 19:19] jishant07 opened #48 "App crashing on physical device, working fine on emulator"
Issue / Feature - Opening Assets and Network Epubs
Platform (android, iOS or both) -
Crash / Error - The app runs perfectly on the emulator but the same apk crashes when installed on a real device.

Steps to reproduce / Describe in detail - I just installed the plugin and wrote the code as directed.

Can you help me in a direction that can help me solve this issue? Any help will be appreciated.

[2020-10-23 22:19] JideGuru commented on #48
does this fix your issue?
https://github.com/JideGuru/epub_viewer/issues/23#issuecomment-707854528

[2020-10-24 04:31] jishant07 commented on #48
Hey, I tried it still crashes. The plugin is so good. I really don't want to shift to something else and I think there isn't anything that has this many features.

Any help will be appreciated.

[2020-10-29 03:06] kapiltandukar commented on #43
@JideGuru  is there any good news. waiting your response. 👍

[2020-10-29 03:09] kapiltandukar commented on #28
@soleysok  is it working on your ios device ?

[2020-10-29 07:15] JideGuru commented on #43
@kapiltandukar none yet.
Still working on it as it requires a lot of work

[2020-10-31 18:01] voipworld opened #49 "Changing epub sdk"
hello,
would you mind trying a sdk change to Readium, a more stable & well maintained epub sdk for android?
folio is not fixing some big issues, like randering a big TOC, and opening big epub files.
thanks,
Tayeb.

[2020-10-31 21:19] JideGuru commented on #49
Hey,
You're right about Folioreader not fixing issues. I'll look into Readium and work on changing it.

[2020-11-01 09:29] #48 closed

[2020-11-01 10:42] voipworld commented on #49
dont you need a flutter plugin for readium?

On 10/31/20, Festus Olusegun <notifications@github.com> wrote:

[2020-11-01 10:43] JideGuru commented on #49
I'll use the swift and kotlin libraries to turn this one into a Flutter plugin

[2020-11-01 11:04] voipworld commented on #49
otherwise just add it as a platform code and use platform channel to
open the epub into a dedicated activity, maybe.

On 11/1/20, Festus Olusegun <notifications@github.com> wrote:

[2020-11-02 10:02] syedecryptr opened #50 "Bookmark"
Issue / Feature - Feature
Platform (android, iOS or both) - Android preferably

Steps to reproduce / Describe in detail -

Bookmark feature is not available in folioreader, can this be achieved here? One way I was thinking to store the last location on some button press, is this possible, any insight would be helpful.

[2020-11-02 15:06] JideGuru commented on #50
@syedecryptr Nice idea you have there but I'm already looking into migrating the plugin to Readium

[2020-11-02 19:46] dymxin commented on #50
How soon? And what are the advantages?

[2020-11-02 19:47] dymxin commented on #50
How soon? And what are the advantages?

[2020-11-02 19:49] JideGuru commented on #50
Soon could be anytime between 2weeks to 1 month.
the advantages are mainly that Readium is actively maintained, unlike Folioreader which makes things easier. Readium also has this Bookmark feature.

[2020-11-02 20:49] dymxin commented on #50
I just took a look at Readium, it looks awesome! It has TTS too. Please can you do 2weeks!!!? Lolz

[2020-11-03 05:43] syedecryptr commented on #50
Thanks for the awesome work.

There is also one open-source ebook android project actively maintained https://github.com/foobnix/LibreraReader
quite overwhelming for me to be honest.

[2020-11-03 16:57] mrifni commented on #50
which Readium repo ?
Ive heared its not maintained at all.

[2020-11-03 17:00] JideGuru commented on #50
@mrifni You might've heard wrong. check out the organization and repositories here https://github.com/readium

[2020-11-06 09:12] mrifni commented on #50
oh nice cheers man.

[2020-11-08 06:52] ReounKompheareak opened #51 "Cannot open epub on release (Android)"
Issue / Feature -
Platform (android, iOS or both) -
Crash / Error -

Steps to reproduce / Describe in detail -

[2020-11-08 09:45] #51 closed

[2020-11-08 13:03] ohm1998 opened #52 "Screenshot disable / copy share option disable"
The plugin is awesome. Loved the work!
Issue / Feature -Is it possible to add feature which disables screenshots. I have disbaled with secure flags in manifest file but screenshots are still enabled on the plugin. Also want to disable the copy and share option. Is there anyway I could tweak the android files somewhere?
Platform (android, iOS or both) - Looking for android currently. Both will be c

[2020-11-10 04:06] hvmien commented on #43
I think reason is in function loadHTMLString on file FolioReaderPage.swift from line 156 .
I fixed it.
[code]

[2020-11-12 17:12] jorpyl opened #53 "Example app doesn't print current location"
Issue / Feature -Issue
Platform (android, iOS or both) -android
Crash / Error - error

Steps to reproduce / Describe in detail -
In this  [example](https://github.com/JideGuru/epub_viewer/tree/master/example) app print function in there doesn't print anything
`EpubViewer.locatorStream.listen((locator) {`
                      `print(`
                          `'LOCATOR: ${EpubLocator.fromJson(jso

[2020-11-13 07:46] 312654929 opened #54 "flutter_webview"
Hello, I would like to ask how to customize the pop-up menu of selected text in flutter_webview

[2020-11-13 09:57] #50 closed

[2020-11-14 20:41] #53 closed

[2020-11-15 03:33] Supriyanto6543 opened #55 "Font not found MyanmarZg exp"
When i am running app on android (realme device) i got error such as below:
E/AndroidRuntime(22852): java.lang.RuntimeException: Font asset not found /system/fonts/MyanmarZg_exp.ttf
How to fix that?

[2020-11-18 01:41] #54 closed

[2020-11-18 01:47] 312654929 opened #56 "Custom pop up menu"
Issue / Feature -

How to implement custom pop-up menu, such as highlight, note, and can I add menu options myself?
Is the WebView used to show the content of chapter

Platform (android, iOS or both) - both
Crash / Error -
Steps to reproduce / Describe in detail -

[2020-11-20 08:31] abdllhyvz opened #57 "Can you add notetaking?"

[2020-11-20 08:33] #57 closed

[2020-11-20 09:20] kanybekov66 commented on #37
It still doesn't work on iOS

[2020-11-20 11:17] abdllhyvz opened #58 "Passing to next chapter by sliding the page in horizontal view gets stuck."
When you try to pass to next chapter by sliding the page in horizontal view, it just gets stuck. You have to try it repeatedly until you can slide and it takes a lot of time. Only tried it on Android.

[2020-11-20 12:50] shamsher400 opened #59 "Android not working in release build."
Working fine with debug build but after make release build app going to crash
please help me out thanks in advance .

minifyEnabled false
shrinkResources false

after adding this project not build

[2020-11-20 14:21] 312654929 commented on #33
Have you solved it? I want to customize  define functionalities right now

[2020-11-20 15:55] JideGuru commented on #59
What is the build time error you got?

[2020-11-21 13:07] shamsher400 commented on #59
thanks issues resolve

[2020-11-21 13:07] #59 closed

[2020-11-23 02:11] 312654929 opened #60 "Highlight, notes don't work"
Issue / Feature - Highlight, notes don't work
Platform (android, iOS or both) - IOS，Android is not tested
Crash / Error -

Steps to reproduce / Describe in detail -

[2020-11-23 02:41] 312654929 commented on #43
It has been modified or not solved. The error eoub content is an XML file

[2020-11-23 03:21] 312654929 commented on #37
It still doesn't work on iOS

[2020-11-23 03:54] 312654929 commented on #27
您好您解决了吗，我没有找到strings.xml文件。

[2020-11-23 04:09] 312654929 opened #61 "Font size cannot be modified"
Issue / Feature - Font size cannot be modified
Platform (android, iOS or both) - iOS
Crash / Error -

Steps to reproduce / Describe in detail -

[2020-11-30 08:21] mrifni commented on #49
any updates on this ?

[2020-11-30 09:35] JideGuru commented on #49
@mrifni The past few weeks have been pretty hectic for me. but I'm almost done with this.
Check the readium-android branch if you want contribute. Thanks

[2020-11-30 10:36] mrifni commented on #49
link for the project ?

[2020-11-30 10:37] JideGuru commented on #49
@mrifni It's this same repo. check the readium-android branch

[2020-12-08 15:03] zjamshidi opened #62 "Search and Config menus are not shown"
**Issue / Feature**
When I add the package to my app, the search and config menus are not shown in the appbar, instead an overflow menu is shown with "Go Back". The sample app and the FlutterEbookApp are working fine. I don't know what am I missing.

**Platform (android, iOS or both)**
Android - didn't check on iOS

**Steps to reproduce / Describe in detail **
I'm following the tutorial. I don't k

[2020-12-09 12:08] #43 closed

[2020-12-15 14:41] menglingyu opened #65 "ios simulator open book crash"
ios simulator  open book  crash
iOS
Crash -  Fatal error: Unexpectedly found nil while unwrapping an Optional value: file /Users/menglingyu/development/flutter/.pub-cache/hosted/pub.flutter-io.cn/epub_viewer-0.1.9/ios/Classes/SwiftEpubKittyPlugin.swift, line 79

pubspec.yaml
...
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"
...
epub_viewer:
    dependency: "direct main"
    description:

[2020-12-16 16:58] zjamshidi commented on #62
The menus are shown in the release build not the debug build.

[2020-12-16 16:58] #62 closed

[2020-12-22 14:21] JideGuru commented on #65
Does this happen in Release mode also?

[2020-12-25 05:22] RomjanHossain opened #66 "Read book online"
how to read book from "network URL"?

[2020-12-25 06:35] syedecryptr commented on #66
This is what I am doing not sure there is a direct way or not ...

get the book and save it to a file insider application directory under a folder named books

[code]

and then use

[code]

[2020-12-25 10:07] JideGuru commented on #66
As @syedecryptr said you'll need to get the local book path by downloading it on the user's device. You cannot pass a URL directly to the plugin yet.

[2020-12-25 10:13] #8 closed

[2020-12-25 10:14] #66 closed

[2020-12-25 10:18] RomjanHossain commented on #66
roger that

[2020-12-27 11:53] syedecryptr commented on #50
Bookmark feature added in the repo :

https://github.com/syedecryptr/Folioreader-Bookmark

[2021-01-05 03:50] soleysok commented on #61
@JideGuru  any update on this yet?

[2021-01-07 08:34] AliReza-Pro-grammer commented on #56
this is based on folio and as far as i have understood,
you need to make changes to that library.
if anyone know i am wrong, please say so. i really want to customize this one myself.

[2021-01-07 08:54] 312654929 commented on #56
Hi,Now I don't need this project for the time being. I use readium mobile toolkit for secondary development

[2021-01-07 12:08] AliReza-Pro-grammer opened #69 "features are disabled/crash"
it takes too long to load a epub from assets + when you press light/night mode or try any other features it crashs. -
Platform (android) -
Crash / Error -

1.downloaded the codes(comment everything that`s not related to "load from assets")
note: had some issues and started to fix them one by one.
2.put assets in lib folder
3.write lib/assets/book.epub in both pubspec.yaml and in code (it doesn`t e

[2021-01-07 15:35] syedecryptr commented on #56
@AliReza-Pro-grammer

Yes, this plugin is using a custom Folioreader [library](https://github.com/JideGuru/Folioreader-Android)
you have to change in that library for any custom feature.
For example, I recently added a bookmark feature in the reader which you can refer to [here]https://github.com/JideGuru/Folioreader-Android/pull/1).

[2021-01-14 10:20] munjata opened #72 "Ebook Read Progression percentage"
Thanks lot for this amazing package.
I would like to have a read progression feature
Issue / Feature - With the lastLocation and the epub file, be able to have the current page and the total pages.
Platform (android, iOS or both) - both
Crash / Error - NA

Steps to reproduce / Describe in detail -

[2021-01-25 15:36] mrifni commented on #49
any updates on this ?

[2021-01-29 09:58] jobic10 commented on #72
This is a feature request. Not an issue.

[2021-01-29 10:03] jobic10 commented on #61
Available on Android.
Work in progress for iOS.
Stay tuned.

[2021-02-04 20:36] jacsa opened #73 "Problem with epub render"
Issue
android

The issue is just that the document looks partially regarding to the height,

![photo_2021-02-04_12-32-33](https://user-images.githubusercontent.com/22783017/106951892-32c13980-66e5-11eb-8b88-e3068ecc65ef.jpg)

[2021-02-05 13:58] felixferr opened #74 "Ios Features doesn't work"
Issue / Feature - takes notes, highlight, dark mode and zoom
Platform (android, iOS or both) - IOS
Crash / Error -

Steps to reproduce / Describe in detail -

The functionality on IOS doesn't works like takes notes, highlight , dark mode and zoom. On android it's works fine.

[2021-02-09 22:10] SaadYasir opened #75 "Zoom Feature"
Issue  - Zoom Feature missing
Platform (android, iOS or both) -

cannot zoom images

[2021-03-01 13:43] dhruvkelawala commented on #49
Waiting for the update

[2021-03-02 13:09] abualrobjo opened #76 "Cant install"
Issue / Feature -
Platform flutter -
Crash / Error -
The plugin cant install on ios platform if you try to run the project after pub get alot of error there also if you create new application and try to add epub viewer same issue do you try it after the last update

Steps to reproduce / Describe in detail -

[2021-03-07 04:08] aspire2016blr opened #77 "EPub Android Readonly Dont share copy paste highlight"
Issue / Feature -
Platf EpubViewer.setConfig(
        identifier: '2936',
        themeColor: Theme.of(context).accentColor,
        scrollDirection: EpubScrollDirection.HORIZONTAL,
        enableTts: false,
        allowSharing: false,
      );orm (android, iOS or both) -
Crash / Error -
Even once i set all these app we can still highlight copy paste and share text

Steps to reproduce / Describe

[2021-03-07 04:16] aspire2016blr commented on #52
HI I am facing the same issue any  work arounds Thanks...

[2021-03-08 08:18] ohm1998 commented on #52
Couldn't find any yet!

[2021-03-09 13:04] Aksoyhlc opened #78 "EpubViewer.open don't working"
### **The file path does not work when entered, cannot find the file.**

path: /data/user/0/com.app.name/app_flutter/books/24.epub

`EpubViewer.open(
       path,
      lastLocation: EpubLocator.fromJson({
        "bookId": "324234",
        "href": "/OEBPS/ch06.xhtml",
        "created": 1539934158390,
        "locations": {"cfi": "epubcfi(/0!/4/4[simple_book]/2/2/6)"}
      }),
    );`

### **_T

[2021-03-09 13:18] JideGuru commented on #78
Is the file saved on your device?

[2021-03-09 14:07] Aksoyhlc commented on #78
Evet kayıt edildi dosya yolu doğru.

[2021-03-10 09:48] Aksoyhlc commented on #78
@JideGuru Is there any improvement? I need this feature very much.

[2021-03-10 10:03] JideGuru commented on #78
@Aksoyhlc I think you should investigate your file path

[2021-03-15 18:29] Aksoyhlc commented on #78
V/FolioActivity(22696): -> setDayMode
V/FolioActivity(22696): -> initMediaController
V/FolioActivity(22696): -> setupBook
V/FolioActivity(22696): -> initBook
**### E/Error   (22696): Could not generate container**
**### E/Error   (22696): java.util.zip.ZipException: error in opening zip file**
E/Error   (22696): 	at java.util.zip.ZipFile.open(Native Method)
E/Error   (22696): 	at java.util.zip.Zip

[2021-03-16 15:38] Aksoyhlc commented on #78
@JideGuru Can you please answer?

[2021-03-17 06:56] shamsher400 opened #79 "Updating SDK"
Issue / Feature -
Platform (android, iOS or both) - yes
sdk not updated after updating giving provider version issues

[2021-03-17 16:00] dhruvkelawala opened #80 "Null Safety and Readium"
Issue / Feature - Is Null Safe Version of Package coming any time soon?

And what happened to Readium Branch? Last commit was in December

[2021-03-17 16:04] JideGuru commented on #80
I'll work on the null safe version soon but as for the Readium, I stopped because the effort needed to complete the ios part was too much.

[2021-03-18 19:36] #80 closed

[2021-03-18 19:36] dhruvkelawala commented on #80
Thank you

[2021-03-21 18:42] tariq-alskran opened #81 "Online epub File"
How i can open epub file from url

[2021-03-22 04:50] syedecryptr commented on #81
please check this https://github.com/JideGuru/epub_viewer/issues/66

[2021-03-27 10:06] ntanvinh opened #82 "Locator stream not working"
Issue / Feature - Locator of epub file
Platform (android, iOS or both) - android
Crash / Error - Not work as expected

Steps to reproduce / Describe in detail -
I'm copy code from example. However, this code to get locator has never been run.
[code]

When I pressed back button, the console still show the readLocator but nothing show from the print statement:
`I/readLocator(29636): -> saveReadLocat

[2021-04-10 16:54] felixferr opened #83 "Traduction dictionary wikipedia"
Issue / Feature -Traduction dictionary wikipedia
Platform (android, iOS or both) - both
Crash / Error -

Steps to reproduce / Describe in detail - It is possible to change the language ? Thx

[2021-04-14 10:52] felixferr opened #84 "Change language on ios"
Issue / Feature -
Platform (android, iOS or both) -IOS
Crash / Error -

Steps to reproduce / Describe in detail - Hi, How can i change the language on ios ? thx

[2021-04-14 10:55] #74 closed

[2021-04-14 10:59] felixferr opened #85 "Bug take note on IOS"
Issue / Feature -
Platform (android, iOS or both) - IOS
Crash / Error -

Steps to reproduce / Describe in detail - When i take note, the view change and i need to slide at the bottom to see again the note.

https://user-images.githubusercontent.com/47897646/114699974-3eeaf800-9d21-11eb-92b6-9607bc77ba1c.MP4

[2021-04-15 10:45] #84 closed

[2021-04-15 15:50] Leokays opened #86 "book URL"
Issue / Feature -

trying to run the epub viewer code and I keep crashing when I press the epub_buttton on android. What am I missing? Kindly help. I have the code and the crash error below.

Platform (android, iOS or both) - Android
Crash / Error -
I/flutter ( 7414): Directory: '/data/user/0/com.kayembe.dream_keys/app_flutter'
I/flutter ( 7414): /data/user/0/com.kayembe.dream_keys/app_flutter/cha

[2021-04-15 20:16] #86 closed

[2021-04-15 20:18] Leokays commented on #86
Closed and restarted app and it did not crash. Not really sure what was causing the crash.

[2021-04-16 13:27] #83 closed

[2021-04-17 09:32] carman247 commented on #52
Would also like to find a way to disable the "custom" copy paste menu in the reader ... any update on this?

[2021-04-19 13:15] carman247 commented on #56
Can someone help me disable text selection? e.g. prevent the pop-up menu that has COPY / PAST / DEFINE / SHARE

[2021-04-19 14:29] kuntadynithesh commented on #18
@JideGuru  Any update on this ?

[2021-04-22 11:20] JideGuru commented on #52
I'll be working on this soon. I've been busy with work so I've not gotten the chance yet

[2021-04-23 10:48] carman247 commented on #58
Also experiencing this issue

[2021-04-28 06:44] kumbhdesign opened #87 "issue in ios"
Issue / Feature -
Platform (android, iOS or both) -
Crash / Error -

Steps to reproduce / Describe in detail -

[2021-04-28 06:44] kumbhdesign opened #88 "issue in ios"
Issue / Feature -
Platform (android, iOS or both) -
Crash / Error -

Steps to reproduce / Describe in detail -

[2021-04-30 11:23] kumbhdesign opened #89 "in ios main content highkight,mode change is wirking but in sub"
Issue / Feature -
Platform (android, iOS or both) -
Crash / Error -

Steps to reproduce / Describe in detail -

[2021-04-30 11:49] kumbhdesign commented on #74
hello ios Feature issue how to resolve
because i face same issue in ios not work mode change,font size change

[2021-04-30 11:58] kumbhdesign commented on #89
![image](https://user-images.githubusercontent.com/1607054/116692111-7cb27680-a9d9-11eb-8fcb-28dd0a49bf8e.PNG)

[2021-04-30 12:00] kumbhdesign commented on #89
![image2](https://user-images.githubusercontent.com/1607054/116692239-abc8e800-a9d9-11eb-804f-c89cef7b9b98.PNG)
when click on highlight not working

[2021-04-30 12:01] #87 closed

[2021-05-06 23:19] Strateg766 opened #90 "Count pages"
Issue / Feature -
In horizontal mode, the page counts incorrectly.

[2021-05-07 20:38] ripesol opened #91 "epub_viewer ^0.1.9 is incompatible with shared_preferences >=2.0.0."
Issue:
trying to publish my app to iOS for which i had to upgrade shared_preference but pub get shows error:

epub_viewer ^0.1.9 is incompatible with shared_preferences >=2.0.0.
kindly get it resolved
Platform (android, iOS or both) -
Crash / Error -

Steps to reproduce / Describe in detail -

[2021-05-08 21:21] JideGuru commented on #91
Update to the latest version

[2021-05-08 21:21] #91 closed

[2021-05-08 21:39] #81 closed

[2021-05-10 06:30] kuntadynithesh opened #92 "Cannot swipe to next chapter in horizontal mode"
Issue / Feature - Issue
Platform (android, iOS or both) - Both

In horizontal mode , we cant move to the next after we finish reading the last page of previous chapter . It just gets struck and swipe doesn't work . However it works fine in vertical mode

Steps to reproduce :
Switch to horizontal mode
Go to the last page of any chapter
Try swiping for next page
It gets struck

[2021-05-10 10:27] vamsijanaki commented on #88
Hi, Im also facing the same issue, can someone please help ??

[2021-05-10 11:46] pradeepsthapa commented on #82
Same problem, location not streaming.

[2021-05-10 19:30] el-mimoso commented on #89
We are facing the same issue, sometimes the highlighter lets you choose a color, but sometimes it doesn't even show up. Also the font size selector is not working, please see attached screenshots. Unfortunately the debug console is not showing any useful info.

![182509410_312026763659238_6593641902970109508_n](https://user-images.githubusercontent.com/48807882/117714128-1f1de700-b19c-11eb-981b-37

[2021-05-11 05:25] vamsijanaki commented on #89
Can someone finish this issue? Im ready to pay for this

[2021-05-11 06:12] zeeshanahmad0201 commented on #61
Is this issue resolved now? Please update. Thanks!

[2021-05-12 10:32] dewbambs opened #93 "iOS build failure."
Issue -
Since the new version (v0.2.0) is released. I'm unable to build my application for iOS.

**pod --version** - 1.10.1

**flutter doctor -v**
[code]

Platform (iOS) -
Crash / Error -
[code]

Keeping the warnings aside, the real issue here is cause by swiftRealm. Once I comment epub_viewer from my pubspec.yaml the build completes successfully. So the main issue is.

 `/Users/mac/aqdar-build-sh

[2021-05-16 00:44] Strateg766 commented on #56
please give a repo of your epub viewer with the addition of bookmarks

[2021-05-16 00:44] Strateg766 commented on #56
please give a repo of your epub viewer with the addition of bookmarks

[2021-05-16 00:45] Strateg766 opened #94 "delete"
delete please

[2021-05-16 00:46] #94 closed

[2021-05-16 17:32] syedecryptr commented on #56
[Here](https://github.com/syedecryptr/epub_viewer)

[2021-05-17 02:29] vamsijanaki commented on #93
Try flutter clean, flutter pub get, flutter precache, pod deintegrate and pod install.

And use Xcode 12.2, This issue is a real bug in Realm.

[2021-05-20 02:20] tomriddle7 opened #95 "Is there custom renderer in epub_viewer?"
I making viewer app but I need custom renderer to show two page for tablet.

Do you have plan for support custom renderer?

[2021-05-24 17:12] bkoznov commented on #93
It looks like the issue with Realm may have been [fixed](https://github.com/realm/realm-cocoa/issues/7083)? Any chance of an update soon @JideGuru ? Thanks!

[2021-05-25 07:26] sanalkv opened #96 "App crashed when you open folioreader and closed immediately"
Issue / Feature - App crashed when you open folioreader and closed immediately
Platform (android, iOS or both) -
Crash / Error - `Attempt to invoke virtual method 'java.lang.String com.folioreader.model.locators.ReadLocator.toJson()' on a null object reference`

[2021-05-25 09:39] lyseiha opened #97 "do you plan to create for react native"

[2021-05-29 13:05] chinkysight opened #98 "Unable to load JDK7 types (annotations, java.nio.file.Path): no Java7 support added"
### Platform (android, iOS or both) :
 I am on **Android** only, so I don't know about **IOS**
### Error:
[code]
### Describe in detail:

I have simply `TextButton` like this:

[code]
As you can see I am getting the `4.epub` from assets. But I wasn't able to do so. When I click the `TextButton`, following error is thrown without crashing the app:

[code]

**Flutter Doctor Result:**
[code]

[2021-05-29 13:34] chinkysight opened #99 "EpubViewerPlugin.java uses or overrides a deprecated API."
### Warning:
[code]
I am getting the above warnings with `epub_viewer: ^0.2.1`

[2021-05-30 01:05] #99 closed

[2021-05-30 08:09] chinkysight commented on #99
@JideGuru How to get rid of this warning ?

[2021-06-01 16:37] bkoznov commented on #93
[PR is up for depending on new version of Realm here](https://github.com/JideGuru/EpubViewerKit/pull/3)

[2021-06-04 16:09] bkoznov commented on #93
@JideGuru Once you push the updated EpubViewerKit to cocoapods, I can make a PR for epub_viewer to use the updated one. Thanks!

[2021-06-05 19:43] JideGuru commented on #93
@bkoznov The version is out https://cocoapods.org/pods/EpubViewerKit. I'll be expecting your PR. Thanks!

[2021-06-07 15:46] #93 closed

[2021-06-07 16:28] JideGuru commented on #97
No i do not

[2021-06-07 16:28] #97 closed

[2021-06-07 16:30] #76 closed

[2021-06-07 16:31] #78 closed

[2021-06-07 16:31] #79 closed

[2021-07-04 22:00] spacekestrel opened #102 "epub_viewer 0.2.2"
Can i tweak visuals? I.e. fonts, menus appearance, colors etc? Because as far as i see, all is predetermined.

[2021-07-27 06:03] vaaniiaa commented on #95
I also need this feature in my app , hope future release supports this.

[2021-07-30 20:33] ameteku commented on #82
I just created a pr for getting the page number for iOS but it seems no stream is ever emitted for android. This is the link to my pr:
https://github.com/JideGuru/epub_viewer/pull/103

[2021-08-02 19:33] bkoznov commented on #53
@jorpyl  did you fix this? I am having a similar problem.

[2021-08-02 22:07] bkoznov commented on #53
It looks like in the example app, the `onListen` is never being triggered.

[code]

And therefore, when

[code]

[2021-08-05 21:41] ameteku commented on #53
@JideGuru Just created a pr for this issue:
https://github.com/JideGuru/epub_viewer/compare/master...ameteku:master

[2021-08-12 07:50] ANDRUXUIS commented on #49
any updates on this
is the plugin ready ?

[2021-08-16 15:56] bkoznov opened #105 "Crash on android release mode"
Issue / Feature -
Platform (android, iOS or both) - android in release mode
Crash / Error - Crash

Steps to reproduce / Describe in detail - Opening an epub on the release build of an android app causes the app to crash

Stack trace:

[code]

[2021-08-16 18:31] bkoznov commented on #105
Sorry, fixed by https://github.com/JideGuru/epub_viewer/issues/48

[2021-08-16 18:31] #105 closed

[2021-08-23 07:27] prkarthikeyan commented on #82
Locator stream still seems to be an issue. Is this repo being maintained, i ended up using this, and resuming the last read page seems to be a problem for books (android). :(

[2021-08-25 10:51] AnirudhLoya commented on #61
Is it fixed?

[2021-08-25 11:27] winterdl commented on #49
please change to readium sdk, Folioreader not update anymore!

[2021-08-26 11:01] SandeshLamichhane opened #106 "Could not get typeface SanFranciscoText-Regular.otf"
Issue / Feature -I have a epub that does have toc. it throws this error
Platform (android, iOS or both) -android
Crash / Error - Error

Steps to reproduce / Describe in detail -

[2021-08-26 11:03] SandeshLamichhane opened #107 "org.nanohttpd.protocols.http.NanoHTTPD$1.handle(NanoHTTPD.java:372) E/NanoHTTPD(27435): at org.nanohttpd.protocols.http.NanoHTTPD.handle(NanoHTTPD.java:535) E/NanoHTTPD(27435): at org.nanohttpd.protocols.http.HTTPSession.execute(HTTPSession.java:421) E/NanoHTTPD(27435): at org.nanohttpd.protocols.http.ClientHandler.run(ClientHandler.java:75)"
Issue / Feature -
Platform (android, iOS or both) -android
Crash / Error - Error occured on oncliking content title

Steps to reproduce / Describe in detail -

[2021-08-30 19:07] bkoznov opened #108 "Horizontal Scrolling Not Working on iOS"
Issue / Feature - Scroll is always vertical on iOS
Platform (android, iOS or both) -iOS
Crash / Error - Horizontal scrolling argument has no impact on iOS

Steps to reproduce / Describe in detail - When
`    scrollDirection: EpubScrollDirection.HORIZONTAL,` is set, it has no impact on iOS. Issue #37 references this but is closed

[2021-09-09 11:45] Shivere opened #109 "The plugin `epub_viewer` uses a deprecated version of the Android embedding."
**Crash / Error**

The plugin `epub_viewer` uses a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to see if this
plugin supports the Android V2 embedding. Otherwise, consider removing it since a
future release of Flutter will remove these deprecated APIs.
If you are plugin author, take a look at the docs for migrating the plugin to

[2021-09-13 06:48] winterdl commented on #49
I've viewed the code of readium, I think we should connect direct from dart to readium js and readium css via webview. If we could implement these from flutter, we could have cross platform epub viewer. In Readium Kotlin and Readium Swift, they connect webview with readium js and css.

[2021-09-13 11:03] JideGuru commented on #49
@winterdl Wow that's a great idea. I actually never thought of that. I'll start looking into that Immediately.

[2021-09-13 11:13] JideGuru commented on #102
Not much customizations is available for now

[2021-09-13 11:13] #102 closed

[2021-09-13 17:26] mghase commented on #109
any solution

[2021-09-13 18:59] JideGuru commented on #109
please Try version 0.2.3

[2021-09-20 00:35] winterdl commented on #49
I didn’t test but you should try this case, android or ios plugin uses r2-stream to create server and addPublication, from flutter we call startServer, topServer, addEpub, the plugin will return baseUrl after parse and serve publication. Flutter side we use webview to open the baseUrl, inject readium js and readium css. For simple we could try with folioReader js and folioReader css, all native ui

[2021-09-20 08:41] nkenna opened #110 "Unhandled Exception: MissingPluginException(No implementation found for method open on channel epub_viewer)"
Issue / Feature -  Unhandled Exception: MissingPluginException(No implementation found for method open on channel epub_viewer)
Platform (android, iOS or both) - android
Crash / Error - E/flutter ( 9795): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: MissingPluginException(No implementation found for method open on channel epub_viewer)

[2021-09-20 16:16] mrifni commented on #49
you dont have to, its already done by some https://github.com/Mantano/mp_readium

[2021-09-20 16:19] JideGuru commented on #49
Thanks @mrifni and @winterdl. This should make the work easier and faster

[2021-09-21 00:44] winterdl commented on #49
I known the project but they will take time to fully port r2-streamer to dart, and the project dont have r2-navigator port. The r2-streamer-kotlin and r2-streamer-swift are mature and stable now, we should use theme as native plugin to hosting publication, and starting implement r2-navigator by flutter. When the porting of r2-streamer- dart done, we could remove the native plugin later.

[2021-09-21 18:08] siloebb commented on #110
I downloaded the example today and happens with me too.

[2021-09-22 05:09] winterdl commented on #49
Good news, with the latest update of the mno packages last day, we could serve publication with flutter, no need to create native plugin:

[code]

[2021-09-22 11:42] JideGuru commented on #110
Which Flutter version did tis error occur on please?

[2021-09-22 11:45] #109 closed

[2021-09-22 11:53] nkenna commented on #110
Flutter 2.2.2

On Wed, Sep 22, 2021, 12:42 PM Festus Olusegun ***@***.***>
wrote:

[2021-09-22 11:54] nkenna commented on #110
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.2.2, on Linux, locale en_NG)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
[✓] Chrome - develop for the web
[✓] Android Studio (version 4.1)
[✓] Connected device (1 available)

[2021-09-22 11:56] JideGuru commented on #110
Did you try flutter clean?

[2021-09-22 11:56] siloebb commented on #110
[✓] Flutter (Channel stable, 2.5.0, on Mac OS X 10.15.6 19G73 darwin-x64, locale pt-BR)
[✓] Android toolchain - develop for Android devices (Android SDK version 31.0.0)
[✓] Xcode - develop for iOS and macOS
[✓] Chrome - develop for the web
[✓] Android Studio (version 2020.3)
[✓] VS Code (version 1.60.1)
[✓] Connected device (2 available)

• No issues found!

[2021-09-22 11:58] nkenna commented on #110
done that. closed android studio and tried again. Still getting the same error

[2021-09-22 11:59] JideGuru commented on #110
One last question. What version of the plugin are you using? Have you tried 0.2.3?

[2021-09-22 12:00] nkenna commented on #110
Yes. the lastest version

On Wed, Sep 22, 2021, 12:59 PM Festus Olusegun ***@***.***>
wrote:

[2021-09-22 12:36] JideGuru commented on #110
I just deployed a fix (version 0.2.4). Please try it and let me know how it goes.

[2021-09-23 12:39] winterdl commented on #49
The bad news is the flutter webview not as good as native webview, I've just tested the flutter webview to open a book, It was too laggy and slow, too dificult to swipe if we intergrate webview with pageview, the pageview didnt have preload, if we want to port UI to flutter, it will be long way to go, but we should try, and hope flutter engine will be better.

[2021-09-23 12:42] JideGuru commented on #49
@winterdl that sounds bad. Can you send a link to the repo where you implemented this? Also, I already created a new reading branch(locally) where I'll start working on moving from Folioreader to readium (with mp-readium)

[2021-09-23 13:24] voipworld commented on #49
Hello,
 is webView required for reading epub?
why dont we use a native text widget?

[2021-09-23 15:35] winterdl commented on #49
Both Readium and FolioReader are using webview for rendering html layout and paging using css column. If your ebook only text, you could rendering layout by canvas, find text_composion for example or flutter_novel, or using html_view.
I’ve just quick test, not created repo yet, but the test very simple I will post to gist later.
![B3CA2238-E7B3-4EAA-99C9-CAE2A8BD0368](https://user-images.githubuse

[2021-09-23 16:29] mariofraga84 opened #111 "load epub_viewer in container"
Hello everyone!
I would like to load epub_viewer inside a container. It's possible?

Can I customize the AppBar to put a button to return to the app?

Thanks.

[2021-09-23 17:41] mariofraga84 commented on #22
Will this feature be developed for Android?
We could even change the chapters button for a back button.

[2021-09-23 18:43] #110 closed

[2021-09-23 18:45] JideGuru commented on #111
This is not possible at the moment

[2021-09-23 18:45] #111 closed

[2021-09-23 18:45] JideGuru commented on #111
This is not possible at the moment

[2021-09-23 18:47] #107 closed

[2021-09-24 02:03] winterdl commented on #49
The gist contains main function to open server, load epub from asset and create webview to open publication from created server: https://gist.github.com/winterdl/de0bac7ee7cd9bd932dc486c54ac06a5

[2021-09-24 09:29] voipworld commented on #49
i think it would be great to migrate to readium either native or ported, better thant the native webView.
this would let the plugin be compatible also with windows, mac, linux and web.
what do you think?

[2021-09-24 10:53] voipworld commented on #49
i think we better create a special branch for real test of the plugin
with the ported readium library, no?

On 9/24/21, winterdl ***@***.***> wrote:

[2021-09-27 06:06] winterdl commented on #49
I've created a testing repo, flutter_readium, reading epub app using only flutter which based on readium project.
https://github.com/winterdl/flutter_readium . I dont have time to follow the project, hope everyone could create a repo to mainly development the idea. Thank you.

[2021-09-29 03:33] vamsijanaki opened #112 "Some of the epubs are not working for some reason"
Issue / Feature - Epubs issue
Platform (android, iOS or both) - Both
Crash / Error - Font size and font change not working

Steps to reproduce / Describe in detail -
Dowload the two epub files here and test them

https://www.transfernow.net/dl/2021092930kljGlG

[2021-10-02 21:19] voipworld commented on #49
Hello,
after trying your well writen example,
all i can see is the Open book button, but clicking it do nothing.
please note that i built the release apk, didnt run flutter run.

On 9/27/21, winterdl ***@***.***> wrote:

[2021-10-04 02:59] winterdl commented on #49
I dont have android device, I just run debug on emulator. I've just tested with the code from repo, it runs okay.

<img width="600" alt="" src="https://user-images.githubusercontent.com/302480/135786663-c30b6079-1d11-466b-8857-9eccac53de40.png">

[code]

[2021-10-06 10:57] winterdl commented on #49
@voipworld I fixed the issue with release build, you should add android.permission.INTERNET to AndroidManifest.xml.

For now, we have 2 ways to changing sdk to readium
- Porting all readium projects to flutter (https://github.com/Mantano done almost the hard works), I've just demo a prototype at above repo, I though this is a promise way, we could write one time and run on ios and android.
- Write

[2021-10-10 10:25] voipworld commented on #49
i think using the ported readium code is better in term of portability.
using platform methods mean it will work only for iOs & android.
using the ported readium code mean that we can even use it for web i
think, also windows, linux, mac.

On 10/9/21, vamsijanaki ***@***.***> wrote:

[2021-10-20 01:20] bksubhuti opened #113 "Android Embedding bug with flutter 2.5"
cannot compile the app with flutter 2.5 update.
see issue below:
https://stackoverflow.com/questions/68920646/the-plugins-xxxxx-use-a-deprecated-version-of-the-android-embedding

[2021-10-30 01:11] keeperprancis commented on #52
It's seems the developer has been added this feature through config

EpubViewer.setConfig(
  themeColor: Theme.of(context).primaryColor,
  identifier: "iosBook",
  scrollDirection: EpubScrollDirection.VERTICAL,
  allowSharing: true,
  enableTts: true,
)

but it's not work :)

[2021-11-15 23:53] amigax opened #114 "Can it be embedded as a widget into existing screens?"
Can it be embedded as a widget into existing screens?
I just want to use the functionality and not the whole ui..

also can it read kindle books?

[2021-11-21 11:25] anhnt opened #115 "Does not work on ios"
Example does not work with alice.epub from assets

![image](https://user-images.githubusercontent.com/735555/142759928-1fb31ef2-1a2c-472c-9414-5984e81560bd.jpeg)

[2021-11-21 17:31] akshayaminupala commented on #112
Did you get any solution?

[2021-11-22 06:40] akshayaminupala commented on #18
any update on this?

[2021-11-25 14:19] amigax opened #116 "reading book fails-HtmlTask: HtmlTask failed java.io.IOException: Cleartext HTTP traffic to 127.0.0.1 not permitted"
When I try to read a book it sdtays on white screen, error is
HtmlTask: HtmlTask failed
    java.io.IOException: Cleartext HTTP traffic to 127.0.0.1 not permitted

[2021-11-25 14:42] amigax commented on #116
fixed using the following

Manifest:

` <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="Flutter eBook App"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">`

in network_security_config.xml, added this:
`  <base-config cleartextTrafficPermitted="tr

[2021-11-25 14:43] amigax commented on #108
is it meant to do horizontal? would love to see that

[2021-11-25 14:44] amigax opened #117 "Crashes when side menu opened"
#2021-11-25 22:32:11.590 884-884/dev.jideguru.flutterEbookApp E/AndroidRuntime: FATAL EXCEPTION: main
    Process: dev.jideguru.flutterEbookApp, PID: 884
    android.view.InflateException: Binary XML file line #7: Binary XML file line #7: Error inflating class androidx.recyclerview.widget.RecyclerView
    Caused by: android.view.InflateException: Binary XML file line #7: Error inflating class andr

[2021-12-14 07:26] AminFeizi opened #118 "Crash App"
Issue / Feature -
Platform (android, iOS or both) -
Crash / Error -

Steps to reproduce / Describe in detail -
When I used this library My App was crash pls help me for this

[2021-12-14 08:08] AminAlizadeh-Dev commented on #118
I have this problem too

[2021-12-20 15:30] amigax opened #119 "How to start text to speech?"
id like to know how to start ands top this

[2021-12-27 12:03] ouyangtianhan commented on #115
I got the same error. have you resolved that?

[2022-01-01 14:27] MarsadMaqsood commented on #119
Same issue there is no setting or ... to start tts

[2022-01-07 07:15] amigax commented on #72
badly needed feature though!

[2022-01-07 07:39] amigax commented on #82
yeh I cant get this to work either, it does print the locator stream when you cclose the book, but how to pass it in so we can resume reading?

[2022-01-18 17:57] NohchoBx opened #120 "Change behaviour of some features"
Hi, I was wondering if is it possible to change some behaviour of the plugin. For example I would like to change the "define" action after selecting a word. Is there a way to access this level of code?

 I forked the project but still I can't find the right place... Thanks in advance.

[2022-01-19 14:13] sagarshende23 opened #121 "App Crash When click On Pub Viewer (Android)"
Issue / Feature - Issue
Platform (android, iOS or both) - Android
Crash / Error - Crash

Steps to reproduce / Describe in detail -
App Getting Crash if I Click on Epub Viewer, I am downloading file From Internet and then setting a android path. **When I try to open the file then app is Crashing**.. Epub Viewer Working fine For IOS

**Unable to load JDK7 types (annotations, java.nio.file.Path): no

[2022-01-19 15:43] jmgeffroy commented on #49
Hi!
I'm jumping into this discussion that I just discovered during a googling session. I am the initiator of the [Mantano "Iridium"](https://github.com/Mantano/iridium) open-source project. I see that @winterdl mentioned our Readium 2 ports, and I simply wanted to add that we have now opened the [source code of a Navigator](https://github.com/Mantano/mno_navigator_flutter).
We also have developed

[2022-01-19 15:53] JideGuru commented on #49
Hi @jmgeffroy ,
Thanks for reaching out. I just tested the demo app and the viewer is awesome. My plan initially was to put all the parts of iridium together to make one viewer (makes it easier for people to use in their apps) just as you've [done here](https://github.com/Mantano/iridium/tree/main/app/lib/views/viewers). Would you be opened to us working together to achieve that or do you have pla

[2022-01-19 16:01] jmgeffroy commented on #49
Hi @JideGuru glad to meet you, and congrats on your work!
I'm not sure to fully understand your question, since it seems that this is what we've done, basically. This [https://github.com/Mantano/iridium/tree/main/app](https://github.com/Mantano/iridium/tree/main/app) is your code (except that as I said we've squashed your git history by mistake and we'll reintroduce it asap).
Can you enlighten me?

[2022-01-19 16:12] JideGuru commented on #49
@jmgeffroy i went through the code of the demo app and noticed that you had to import all the different parts of iridium(navigator, streamer, opds etc). This means that if a developer wants to add the viewer to their app they'll need to import all this packages as well then probably copy the code from the view page of the demo app which is totally good for people who wants like a custom integratio

[2022-01-19 16:25] jmgeffroy commented on #49
OK understood. If you look at [openBook](https://github.com/Mantano/iridium/blob/c7b2369d6cca6838682b2d00be60accf89ae9bc6/app/lib/views/details/details.dart#L223), you just have to instantiate [EpubScreen](https://github.com/Mantano/iridium/blob/main/app/lib/views/viewers/epub_screen.dart) and pass it the file path.
So what we need is to extract this part, including EpubScreen and all related mach

[2022-01-19 16:26] JideGuru commented on #49
@jmgeffroy  Alright that makes sense. I'll wait for you to finish that so I can archive this repo then.
Thanks

[2022-01-19 16:27] jmgeffroy commented on #49
@JideGuru OK perfect! I'll notify you in this thread as soon as it's done.
Cheers

[2022-01-20 04:07] arkaanfast opened #122 "Regarding the HighLight Feature"
Issue / Feature - The feature is the Highlight feature. The user could highlight paras or sentences in the reader and save it. I tried to do this but was not able to add this feature it would be of great help if you could look into it. Thank you for this amazing package.
Platform (android, iOS or both) - For Both
Crash / Error -

Steps to reproduce / Describe in detail -

[2022-01-20 18:39] jmgeffroy commented on #49
Hi @JideGuru and all,
I have quickly assembled an [Iridium reader widget](https://github.com/Mantano/iridium-reader-widget) PoC, including an example.
It can be improved, this is just the very first iteration. As you can see in the code, integrating a viewer is as simple as:
[code]
Cheers

[2022-01-20 18:53] JideGuru commented on #49
Looks pretty good @jmgeffroy . When do you plan on publishing it?

[2022-01-20 18:56] jmgeffroy commented on #49
Thx, I can publish it on Pub.dev tomorrow or on Monday. I also have created a separate Iridium-demo repo forked from your repo. It doesn't use the widget yet, but it will be done shortly.

[2022-01-20 19:48] dymxin commented on #49
Such a beautiful work. I tried the TestFlight, and noticed that the bookmark function doesn’t seem to be working.

[2022-01-21 09:19] jmgeffroy commented on #49
Hi @dymxin

Thanks! Much appreciated. I'll double-check this issue and publish an update. Stay tuned!

[2022-01-21 09:47] dymxin commented on #49
Great! Also if there is a possibility to include last location functionality. Whereby on open, a book goes to the last page viewed. Much Love

[2022-01-21 14:07] #120 closed

[2022-01-22 12:41] voipworld commented on #49
Hi @jmgeffroy
yes i saw the new unified repo, good step for the project.
i'm currently switching to beta to build and test it, i will test the reader widget in term of usability and accessibility for screen reader users and give fidback on the corresponding repo.
i'm pretty happy with this new component, i have been dreaming for a pure flutter epub reading widget for a long time. there was epub_vi

[2022-01-22 15:05] JuniorFlorentino opened #123 "Bug to android 12"
Failure
[INSTALL_PARSE_FAILED_MANIFEST_MALFORMED: Failed parse during installPackageLI: /data/app/vmdl20078375.tmp/base.apk (at Binary XML file line #191):
com.folioreader.ui.activity.SearchActivity: Targeting S+ (version 31 and above) requires that an explicit value for android:exported be defined when
intent filters are present]
Error: Failed to install APK again.
Error launching application on

[2022-01-22 18:22] voipworld commented on #49
i tryed the widget. the reading is pretty easy and well compatible with screen readers.
the only issue is the buttons is not labeled, i think you're just using iconButton, can you use textButton.icon? so you can ofer labeling.

[2022-01-22 19:18] voipworld commented on #49
Hello @@jmgeffroy
i tested the widget very well, i opened two issues on the newer unified repo.
following up!

[2022-01-24 11:31] jmgeffroy commented on #49
Great, thanks a lot, we'll look at your issues right now.
Cheers

[2022-01-24 18:56] JideGuru commented on #49
@jmgeffroy Great work you've done with Iridium. I think I'll go ahead and discontinue this plugin now so everyone can move to Iridium.

[2022-01-26 21:29] NohchoBx commented on #98
Hi, any update on this?

[2022-01-28 12:05] elailik commented on #123
I had to workaroud it by adding this line to AndroidManifest.xml
<activity
          android:name = "com.folioreader.ui.activity.SearchActivity"
          android:exported = "true"
          tools:node="merge" />
and disabling instantiable in app/build.gradle
lintOptions {
        disable "Instantiatable"
    }

[2022-01-28 12:06] brainy099 commented on #123
lintOptions {
        disable 'InvalidPackage'
        disable "Instantiatable"
    }

[2022-01-28 12:07] brainy099 commented on #123
I had to workaround it by adding the following lines:
In AndroidManifest.xml
<activity
          android:name = "com.folioreader.ui.activity.SearchActivity"
          android:exported = "true"
          tools:node="merge" />
and disabling Instantiatable in app/build.gradle
lintOptions {
        disable "Instantiatable"
    }

[2022-01-28 12:09] zatovagul commented on #98
+

[2022-02-01 11:49] JuniorFlorentino commented on #123
@brainy099 thank you, it worked

[2022-02-01 16:58] JuniorFlorentino commented on #37
Horizontal Scrolling Not Working on iOS versão  0.2.4

[2022-02-04 07:38] pranjalpc99 commented on #82
Locator Stream is working. Save the fromJson response to a variable and then access the details.
final readLocator = EpubLocator.fromJson(jsonDecode(locator));
print(readLocator.href);

I am using the latest version ^0.2.4.

[2022-02-17 07:55] mustafaMtfa commented on #82
@pranjalpc99 your call is going into the listening part?
See here is my code if you get any error into this please let me know

[code]

Here I am not getting that log for LOCATOR

[2022-02-23 13:44] viper22223 commented on #82
how can use it pls send if you want

[2022-02-24 06:05] viper22223 commented on #115
yes, if you have some css style you need to delete from epub
example :
html{padding: 0; margin: 0; }
and body{padding: 0; margin: 0; }
if on your epub book have background-color delete pls
it's will work

[2022-02-25 11:07] pranjalpc99 commented on #82
Okay,
So what I have done is that I have written the code to listen to the broadcast receiver in the build method inside the try-catch block. Then whenever EpubViewer is called your application will go in the paused state and when you close the EpubViewer the last route will go in resume state and the build method will be called again.

This might be a hack but for me it works.

[2022-02-25 11:38] mustafaMtfa commented on #82
@pranjalpc99 you might be using `openAsset` method. I am using only the `open` method.
and I have resolved that issue by done changes to the `open` method itself...

[2022-02-25 11:41] pranjalpc99 commented on #82
@mustafaMtfa I am also using the open method only. Can you share the changes you did to the open method to resolve the issue?

[2022-02-25 11:45] mustafaMtfa commented on #82
sure!
`_channel.invokeMethod('setChannel');`

and I have also started the stream before we are open the book like this.

[code]

[2022-02-25 11:54] pranjalpc99 commented on #82
@mustafaMtfa what is the purpose of using  `_channel.invokeMethod('setChannel');`
I didn't understand that part. Also, are you able to listen to the stream every time if you start the stream before opening the book. Because I tried and it used to listen only a few times

[2022-02-25 12:04] ghost commented on #82
Actually `_channel.invokeMethod('setChannel');` invokes a native method in android or iOS and it starts the listener in native code which returns a stream to `locatorStream`

[2022-02-25 12:19] pranjalpc99 commented on #82
Ohh Ok. Nice to know that.

[2022-03-28 09:06] pradeep-kumar-rs commented on #121
Hello @sagarshende23 ,Did you get solution for this problem?

[2022-03-30 18:30] sagarshende23 commented on #121
Yeah..

[2022-04-18 12:22] Tahaylmz commented on #121
Hello, I want to learn how to solved this problem.

[2022-04-18 14:52] Tahaylmz opened #126 "Epub opening book but without data"
Issue / Feature -
My issue is

Platform (android, iOS or both) -
Crash / Error -
I/sink status(31945): sink is empty
I/SavedLocation(31945): -> savedLocation ->
W/Java7Support(31945): Unable to load JDK7 types (annotations, java.nio.file.Path): no Java7 support added
V/FolioActivity(31945): -> initDistractionFreeMode
V/FolioActivity(31945): -> hideSystemUI
V/FolioActivity(31945): -> showSystemUI
W

[2022-05-04 15:34] phanthakarnp1997 opened #127 "how to prevent screen_capture ?"
how to prevent screen_capture epub_viewer

[2022-05-05 12:59] rachnayeSangeeta commented on #127
@JideGuru  Please add feature of disable screencapture in epub_viewer

[2022-05-05 19:41] AkshayJainX commented on #126
Facing the same issue...

[2022-05-06 07:50] Tahaylmz commented on #126
I would like to say that it is still not resolved and the error persists.
Everyone says storage error and doesn't help..

[2022-05-10 02:22] ABDERRAHMANE-OUALI commented on #49
@jmgeffroy  any news regarding the the reader? did you publish it to pub.dev

[2022-05-15 12:10] pradeepsthapa commented on #126
same error, help

[2022-05-16 06:28] Tahaylmz commented on #126
@akshayindia, @pradeepsthapa  is there any progress?

[2022-05-17 15:11] pradeepsthapa commented on #126
@akshayindia  rename asset file to short, excluding brackets, worked for me

[2022-05-18 13:55] Tahaylmz commented on #126
I solved this problem with the method in the link.

https://stackoverflow.com/questions/72228668/epub-viewer-package-release-build-crash/72290447#72290447

[2022-05-18 13:55] #126 closed, assigned to nobody

[2022-05-22 08:55] ahyangnb commented on #108
I have the same problem